*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{ 
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 100%;
  width: 100%;
  justify-content: start;
  text-align: center;
  padding: 0;
  background-image: linear-gradient(to bottom right, #D67D3E, #EE9322);
  font-family: 'Montserrat', sans-serif;
}
nav label{
  padding: 18px 10px 10px 10px;
  margin: 0; 
  display: inline-flex;
  justify-content: end;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-right: 20px;
}
nav ul{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  display: inline-flex;
  text-align: center;
}
nav ul li{
  padding: 10px 10px 10px 10px;
  display: inline-block;
  text-align: center;
  padding: 10px 10px 20px 10px;
  transition: all 0.3s ease;
  color: #fff;
}
li a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
  padding: 10px 10px 10px 10px;
}
li a:hover{
  font-weight: 600;
  color: #B46060; 
}
.logo{
  padding: 25px 20px 30px 0px;
  font-size: 30px;
}
.menu-icon{
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  display: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
}
#check{
  display: none;
}
.container-fluid button{
  background-color: #fff;
  /* border: 2px solid #D67D3E; */
  border-radius: 10px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.skip-to-content {
  position: absolute;
  top: -70px;
  left: 0;
  padding: 22px;
  background-color: #025464;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  z-index: 999;
}
.skip-to-content:focus {
  top: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wrapper-jumbotron {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  gap: 10px;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr;
  gap: 15px;
  margin-bottom: 50px;
  padding: 0 50px;
}
.card{
  background-color: #fff;
}
.restaurant-img{
  min-width: 100px;
  height: 200px;
  object-fit: cover;
  object-position: center;

}

.restaurant-item{
  padding: 10px 10px 10px 10px;
  border: 2px solid #D67D3E;
  border-radius: 10px;
  background-color: #F5E8C7;
}
.card-body{
  padding: 10px 10px 30px 10px;
  font-family: 'Montserrat', sans-serif;
}
.card-body h5{
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.city{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.rating{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.detail{
  color: #000;
  background-color: #f5bc02;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  padding: 10px 10px 10px 10px;
}
.content{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0px 10px 30px 10px;
}
.content h2{
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.content p{
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}
.collapse{
  /* set in front */
  z-index: 999;
}

@media screen and (max-width: 1100px) {
  .restaurant-item .card{
    height: 350px;
    border: 2px solid #D67D3E;
    border-radius: 10px;
    background-color: #fff;
  }
  .restaurant-item img{
    min-width: 100px;
    height: 150px;
  }
  .card-body h5{
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .wrapper {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    padding: 0 20px;
  }
  restaurant img {
    height: 50%;
    width: 50%;
  }
  .restaurant{
    padding: 10px 10px 70px 10px;
    border: 2px solid #D67D3E;
    border-radius: 10px;
    background-color: #F5E8C7;
  }
  h3{
    font-size: 10vw;
  }
  .skip-to-content {
    transform: translateX(-20%);
    transform: translateY(0%);
  }
  .menu-icon{
    display: flex;
    justify-content: start;
    cursor: pointer;
  }
  .logo{
    position: absolute;
    top: 1%;
    left: 30vw;
    font-size: 30px;
    padding: 10px 0px 30px 0px;
  }
  nav{
    display: flex;
    z-index: -1;
  }
  nav ul{
    position: fixed;
    background-color: #fff;
    top: 60px;
    left: -100%;
    height: 33vh;
    width: 100%;
    text-align: center;
    display: block;
    /* put below */
    z-index: 2;
    transition: all 0.3s ease;
  }
  nav ul li{
    display: flex;
    position: relative;
    left: -2%;
    top: 0;
    padding: 5px 0px 0px 35px;
  }
  li a{
    font-size: 20px;
    font-weight: 600;
    color: #D67D3E;
  }
  li a:hover{
    padding: 10px 10px 10px 10px;
    background-color: #D67D3E;
    color: #fff;
    transition: all 0.3s ease;
    border-radius: 10px;
  }
  ul.navbar.show-menu {
    left: 0;
  }  
}
@media screen and (max-width: 425px) {
  .wrapper{
    grid-template-columns: repeat(1,1fr);
    /* grid-template-rows: 1fr; */
    /* padding: 0 20px; */
  }
}
footer div{
  background-image: linear-gradient(to bottom right, #D67D3E, #EE9322);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 30px 30px 30px 30px;
  color: #fff;
}
footer div p{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}